:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Background */
  --bg-100: #eff3f4;
  --bg-200: #f9fafc;
  --bg-300: #ebe9ff;

  /* Primary */
  --primary-100: #fdac21;
  --primary-200: #ffcd33;
  --primary-300: #fccf49;
  --primary-400: #fef1cc;

  /* Secondary */
  --secondary-100: #ed661f;
  --secondary-100: #e03f27;

  /* Accent */
  --accent-100: #797c83;
  --accent-200: #878789;

  /* Text */
  --text-100: #ffffff;
  --text-200: #c4c3c3;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
